* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    padding: 20px;
}

.main-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

#searchInput {
    padding: 8px;
    width: 280px;
    border: 1px solid white;
    border-radius: 6px;
}

#searchBtn {
    padding: 8px 14px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 8px;
    border-radius: 6px;
}

#suggestionBox {
    width: 280px;
    border: 1px solid white;
    background: white;
    display: none;
    position: absolute;
    top: 70px;
    border-radius: 6px;
}

.suggestion-item {
    padding: 8px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.suggestion-item:hover {
    background: white;
}

#productList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    border: 1px solid white;
    transition: 0.2s;
    background: lightblue
}

.card:hover {
    background: lightblue;
}

.card img {
    width: 100%;
    height: 170px;
    object-fit: contain;
}

.card h3 {
    margin: 10px 0;
    font-size: 15px;
}

.card p {
    font-size: 16px;
    font-weight: bold;
    color: green;
}

.pagination-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

button {
    padding: 8px 18px;
    border: none;
    background: black;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:disabled {
    background: gray;
    cursor: not-allowed;
}

#pageInfo {
    font-weight: bold;
}
